// Color palette variables
@use "./scss/mocha" as *;
@use "./scss/playback.scss" as *;
@use "./scss/time.scss" as *;
@use "./scss/activewindow.scss" as *;

window.Bar {
  font-family:
    "Noto Sans JP", "Noto Sans", "JetBrainsMono Nerd Font Mono", monospace;
  color: $text;
  background: transparent;
  font-weight: bold;

  > centerbox {
    border: 2px solid $mantle;
    border-radius: 5px;
  }

  button {
    background: $surface0;
    border-radius: 10px;
  }
}
