@use "mocha" as *;

time {
  border-radius: 10px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0px 5px;

  .regular-time {
    color: rgba($text, 1);
  }

  .time-icon {
    font-size: 20px;
    padding-right: 2px;
  }
}
